@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

/*---------------------- Desktop ---------------------------*/
html * {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Popup anuncio*/
.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 310px;
    height: 260px;
    background-image: url('Imagenes/anuncio.jpg');
    background-size: cover;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
    cursor: pointer;
    display: none;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
}

.close-btn:hover {
    color: #000;
}

p {
    font-size: 1.1rem;
}


/* Background primera sección */
.backgroundimg {
    width: 100%;
    height: 100vh;
    background-image: url(Imagenes/background_landing.jpg);
    background-size: cover;
}

/* Header Fijo (TIMUR)*/
.header-landing.black {
    background-color: rgb(13, 18, 29);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

/*Header (Logo)*/
.header-landing {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo-img {
    display: flex;
    align-items: flex-start;
    max-width: 100px;
    height: 100%;
    width: 100%;
}

/* Menú de navegación */
nav {
    width: 100%;
    padding: 0;
}

nav ul {
    list-style: none;
    background: rgb(0, 0, 0, 0);
    overflow: hidden;
    color: rgb(255, 255, 255);
    padding: 17px;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Sección Principal*/
.main-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.aboutus-section {
    color: white;
    padding-left: 50px;
    padding-top: 100px;
}

.aboutus-section h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.aboutus-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.aboutus-text p {
    font-size: 20px;
    flex: 1;
}

.aboutus-text img {
    width: 500px;
    order: 1;
}



/*Parte del slogan*/
.slogan-section {
    grid-column: 2;
    grid-row: 2;
    background: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.mask {
    font-size: 143px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    background: url('Imagenes/montañas.jpg') center/cover no-repeat;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

/* Definición de Cuadrícula para la Sección de Servicios (services-section) */
.services-section {
    text-align: center;
    padding: 50px;
}

.services-section h2 {
    color: rgb(149, 204, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px 0;
    /* Ajusta el margen según sea necesario */
    flex: 1 1 calc(25% - 40px);
    /* 4 cards en desktop */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgb(91, 104, 170);
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 8px;
}

.card p:last-child {
    font-weight: bold;
    color: #4d67e7;
}

.card input {
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input,
textarea {
    width: calc(100% - 50px);
    /* Restar el ancho del padding */
    padding: 17px 25px;
    /* Mantener el mismo padding */
    margin-bottom: 20px;
    background-color: #a5caeaa4;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
    box-sizing: border-box;
    /* Incluir padding y border en el ancho total */
}

.gradient-bck {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(28, 34, 109), rgb(0, 0, 0));
}


/*Reviews Nikita*/



.titulo-review {
    color: rgb(149, 204, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.review-container {
    padding: 28px calc(28px + 10px + 16px) 28px 28px;
    background: #fff;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.review-wrapper {
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.review-wrapper::-webkit-scrollbar {
    display: none;
}

.review {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
}

.review-head {
    margin-bottom: 16px;
    display: flex;
    grid-gap: 12px;
    align-items: center;
}

.review img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.perfil-review h3 {
    font-size: 20px;
    font-weight: 600;

}

.perfil-review p {
    font-size: 14px;
    font-weight: 500;
    color: #888;

}

.review .texto {
    flex-grow: 1;
    margin-bottom: 16px;
}

.review .valoracion i {
    color: #F89805;
}

.review-indicador {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 28px;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
}

.review-indicador a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: royalblue;
    opacity: .5;
}

.review-indicador a:hover {
    opacity: 1;
}

.review-indicador a.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px royalblue;
    opacity: 1;
}


/* Definición de Cuadrícula para la Sección de Contacto (contact-section) */
.contact-section {
    margin-top: 100px;
    margin-bottom: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-section h2 {
    color: rgb(149, 204, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.form {
    width: 100%;
    max-width: 600px;
    /* Ajusta según sea necesario */
    padding: 50px 55px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 50%);
    display: grid;
    grid-column: 1;
}

label {
    font-weight: bold;
    color: #283629;
    font-size: 18px;
    font-weight: 2500;
    margin-bottom: 15px;

}

input,
textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #a5caeaa4;
    border: 2px solid #f0faf1;
    color: #283629;
    outline: none;
}

input::placeholder,
textarea::placeholder {
    color: #283629;
}

.form-text {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-text a {
    color: #4437a9;
    font-size: 20px;
    font-weight: 100px;
    text-decoration: none;
}

.NT {
    background-color: #50a3e7;
    cursor: pointer;
    border-radius: 25px;
    border: 0;
    color: #ffffff;
    font-size: 20px;
    box-shadow: 0 0 20px rgba(117, 209, 255, 0.236);
}

.NT:hover {
    background-color: #48b0e0;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
}

footer img {
    width: 100px;
}

footer p {
    color: white;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;

}

.social-media img {
    width: 40px;
    padding: 10px;
    cursor: pointer;
}

/*---------------------- Mobile ---------------------------*/

@media only screen and (max-width: 660px) {


    body,
    html {
        overflow-x: hidden;
    }

    .backgroundimg {
        height: auto;
        /* Ajustar la altura automáticamente */
    }

    .logo-img {
        max-width: 100px;
        /* Reducir el tamaño del logo */
    }

    nav ul li {
        padding: 10px;
        /* Reducir el espacio entre elementos del menú */
    }

    .aboutus-section {
        padding: 20px;
        /* Reducir el espacio alrededor del contenido */
    }

    .aboutus-text img {
        width: 100%;
        /* Ajustar el tamaño de las imágenes */
    }

    .slogan-section .mask {
        font-size: 100px;
        /* Reducir el tamaño del texto del eslogan */
    }

    .card {
        flex: 1 1 calc(100% - 40px);
        /* 1 card en móvil */
    }

    .card-container {
        padding: 0 10px;
        /* Ajustar el espacio alrededor del contenedor de tarjetas */
    }

    h2 {
        margin-top: 30px;
    }

    .review .texto {
        /* Ajustar el texto en pantallas pequeñas */
        max-height: 100px;
        overflow-y: auto;
        font-size: 20px;
        line-height: 1.5;
        text-overflow: ellipsis;

    }

    .form {
        width: auto;
        padding: 40px;
        /* Ajustar el espacio alrededor del formulario */
    }

    input,
    textarea {
        padding: 15px 20px;
        /* Ajustar el relleno de los campos de entrada */
    }

    footer {
        text-align: center;
        padding: 20px;
    }
}

/*---------------------- Tablet ---------------------------*/

@media only screen and (min-width:661px) and (max-width: 1024px) {

    body,
    html {
        overflow-x: hidden;
    }

    .backgroundimg {
        height: auto;
        /* Ajustar la altura automáticamente */
    }

    .logo-img {
        max-width: 100px;
        /* Reducir el tamaño del logo */
    }

    nav ul li {
        padding: 10px;
        /* Reducir el espacio entre elementos del menú */
    }

    .aboutus-section {
        padding: 20px;
        /* Reducir el espacio alrededor del contenido */
    }

    .aboutus-text img {
        width: 100%;
        /* Ajustar el tamaño de las imágenes */
    }

    .slogan-section .mask {
        font-size: 100px;
        /* Reducir el tamaño del texto del eslogan */
    }

    .card {
        flex: 1 1 calc(50% - 40px);
        /* 2 cards en tablet */
    }

    .card-container {
        padding: 0 10px;
        /* Ajustar el espacio alrededor del contenedor de tarjetas */
    }

    h2 {
        margin-top: 30px;
    }

    .review .texto {
        /* Ajustar el texto en pantallas pequeñas */
        max-height: 100px;
        overflow-y: auto;
        font-size: 20px;
        line-height: 1.5;
        text-overflow: ellipsis;

    }

    .form {
        padding: 50px 55px;
        /* Ajustar el espacio alrededor del formulario */
    }

    input,
    textarea {
        padding: 15px 20px;
        /* Ajustar el relleno de los campos de entrada */
    }

    footer {
        text-align: center;
        padding: 20px;
    }
}